html {
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */
/* цвет основного текста #000000 */
/* вторичный цвет текста rgba(0, 0, 0, 0.8);
 */
/* белый #FFFFFF; */
/* акцент #18A0FB; */
/* вторичный цвет фона #F5F5F5; */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --title-text-color: #212121;
  --accent-color: #18a0fb;
  --primary-color: #ffffff;
  --background-color: #2f303a;
  --contacts-colors: #757575;

  --overlay-hero: rgba(47, 48, 58, 0.4);

  --pic-background-color: #f5f4fa;

  --transition: rgba(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

/* Утилиты */
/* Особенности */

.section {
  padding: 94px 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Верхняя линия */

/* top line bg */

/* Line */

.page-header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

/* ✅ Применится только к ссылкам, которые лежат внутри тега
 с классом social-links */

/* Logo */
/* WebStudio */
.logo {
  color: var(--title-text-color);
  color: #2196f3;
  font-family: Raleway, sans-serif;
  width: 700;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo:hover {
  color: var(--accent-color);
}

.logo-dark {
  color: var(--title-text-color);
}

.logo-white {
  color: var(--primary-color);
}
/* Menu Nav */
/* Студия */

.site-nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 93px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Активная ссылка */
/* Портфолио */
/* Контакты */

/* site-nav */
.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}

/* E-mail */
/* envelope */
/* info@devstudio.com */
/* info@devstudio.com */
/* envelope (hover) */
/* Hover */

/* Auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav-item:not(:last-child) {
  margin-right: 50px;
}

/* +38 096 111 11 11 */

/* Tel */
/* Vector */
/* Vector */
/* smartphone */

.auth-nav-link {
  display: flex;
  align-items: center;

  color: var(--contacts-colors);
  text-decoration: none;
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}

.auth-nav-link:hover .auth-nav-icon,
.auth-nav-link:focus .auth-nav-icon {
  fill: var(--accent-color);
}

.auth-nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
/* Герой */

/* Шапка */
/* Bg */

/* Img */
/* Img Overlay */

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-color);
  background-image: linear-gradient(
      to right,
      var(--overlay-hero),
      var(--overlay-hero)
    ),
    url(../images/Img-h.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .overlay {
  max-width: 1600px;
  height: 600px;
  background-image: url(../images/Img-h.jpg);
} */

/* Эффективные решения для вашего бизнеса */

.hero-title {
  margin: 0 auto;
  color: var(--primary-color);
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Batton */
.button {
  margin-top: 30px;

  width: 200px;
  height: 50px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
}

/* bg */
/* Заказать услугу */
/* Button (Hover) */

.filters-btn:hover,
.filters-btn:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Особенности */

/* Внимание к деталям */

.feature-list .text-category {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.feature-list .text-items {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.item-pic {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--pic-background-color);
  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}
/* Group 1 */

/* Feature 1 */

/* Feature 2 */

/* Feature 3 */

/* Feature 4 */

/* Особенности */

.section-description {
  font-size: 36px;
  line-height: 1.39;
}

/* .item {
  width: 270px;
} */

.feature-list .title,
.work-list .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Чем мы занимаемся */

/* Features and Examples*/

.feature-list {
  display: flex;
}

.feature-list .item-2 {
  width: 270px;
  margin-right: 30px;
}

.feature-list .item-2:last-child {
  margin-right: 0;
}

/* box 1 */
/* box 2 */
/* box 3 */

/* Section */

.section-4 {
  padding-top: 0px;
  padding-bottom: 94px;
}

.section-title-3 {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Examples */

.work-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.work-list-4 {
  margin-right: 30px;
}

.work-list .title {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* team */
/* Наша команда */

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  align-items: center;
  background: #f5f4fa;
}

/* Наша команда */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Section bg */

/* team card 1 */
/* card bg */
/* img */
/* Игорь Демьяненко */
/* Product Designer */

/* Social links */
/* Ellipse */
/* team card 1 */

/* team card 2 */

/* team card 3 */

/* team card 4 */

/* team */

.img {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1635px;

  background: url(4853.jpg);
  border-radius: 0px;
}

.feature-list.text {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.team-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card-bg {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-5 {
  margin-right: 30px;
}

.team-card-6 {
  padding: 30px 0px;
  /* margin-bottom: 94px; */
}

.feature-list-7 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.feature-list-8 {
  display: flex;
  justify-content: center;
}

.feature-list-.team-items {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-member-text {
  padding: 30px 32px;
}

.flexy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Постоянные клиенты */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.sub-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.flex-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-pic {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--pic-background-color);
  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.no-style-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

/* Client 1 */
/* Client 2 */
/* Client 3 */
/* Client 4 */
/* Client 5 */
/* Client 6 */

/* Постоянные клиенты */

/* Portfolio */
/* Портфолио */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* filters */

.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-color: teal;
  margin-bottom: 50px;
}

/* Портфолио btn-hero-1 */

.btn-hero-1 {
  margin-right: 8px;
}

.btn-hero {
  padding: 6px 22px;
  border: 0;
  background: #f5f4fa;
  border-radius: 4px;  
  border: none;  
  font-family: inherit;  
  border-color: ;
}


}

/* project 1 */

.flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-color: teal;
  margin: -15px;
}

.flex-element {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin: 15px;
}

/* .flex-element:nth-child(3n) {
  margin-right: 0;
} */

.project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.project-p {
  flex-wrap: wrap;
}

.flex-element:nth-child(-n + 3) {
  margin-bottom: 0;
}

.project-p-1.text-category-p {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.project-p-2.text-items-p {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.feature-list .link {
  color: var(--accent-color);
}

/* Footer */
/* Футер */
/* Я не джин 🧞 */
/* Подвал  */

/* Footer bg */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-address {
  margin-right: 70px;
}

/* WebStudio */

.logo-footer {
  margin-left: auto;
}

/* Address */

address {
  margin-top: 20px;
}

.link-footer {
  margin-left: auto;
}

.social-links a {
  color: #ffffff;
  text-decoration: none;
}

/* г. Киев, пр-т Леси Украинки, 26 */

.copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* info@example.com */
/* +38 099 111 11 11 */

.copyright-links {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* присоединяйтесь */

.basement > .container {
  justify-content: flex-start;
  align-items: baseline;
}

.basement-header {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.no-style-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

svg {
  fill:white
}
	
	    


/* Social */
/* Social links */

/* Ellipse */
/* Ellipse */
/* Ellipse */
/* Ellipse */

/* Social links */

/* Social */
